<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>provisioningProfiles</key>
    <dict>
        <key>{{ APP_BUNDLE_ID }}</key>
        <string>{{ PROVISIOING_PROFILE_UUID }}</string>
    </dict>
    <key>method</key>
    <string>ad-hoc</string>
    <key>signingCertificate</key>
    <string>{{ P12_CERTIFICATE_NAME }}</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>teamID</key>
    <string>{{ APPLE_DEVELOPER_TEAM_ID }}</string>
    <key>uploadSymbols</key>
    <true/>
</dict>
</plist>